---
import Layout from "../../layouts/Layout.astro"
---

<Layout>
    <!-- @nav: breadcrumb -->
	<nav class="breadcrumb">
		<a href="/"><i class="bx bxs-home"></i></a>
        <i class='bx bx-chevron-right'></i>
		<span>how to do</span>
	</nav>

    <!-- @header: basic info -->
	 <header class="howtodo">
		<h1><span>How to do</span> examples</h1>
	 </header>

    <!-- main -->
    <main>
        <section class="howtodo">
            <article>
                <ul>
                    <li><a href="slideshow/#Carousel">Slideshow Carousel</a> - Built with Astro, Html, Css and JavaScript.</li>
                </ul>
            </article>
        </section>
    </main>
</Layout>

<style></style>