---
import SlideCarousel from "../../components/SlideCarousel.astro"
import SlideshowGallery from "../../components/SlideshowGallery.astro"
import Layout from "../../layouts/Layout.astro"
---

<Layout>
    <!-- @nav: breadcrumb -->
	<nav class="breadcrumb">
        <a href="/"><i class="bx bxs-home"></i></a>
        <i class='bx bx-chevron-right'></i>
        <a href="/howtodo/">how to do</a>
        <i class='bx bx-chevron-right'></i>
		<span>slideshow</span>
	</nav>
    
	<!-- @main: site -->
    <main>
        <!-- @section: Slideshow Examples-->
        <h2><span>Slideshow</span> examples</h2>
		<section class="slideshow">

            <div class="row">
                <!-- @article: Slideshow Carousel-->
                <h3>slideshow <span>carousel</span></h3>
                <article id="Carousel">
                    <SlideCarousel />
                </article>
            </div>
            
		</section>
     </main>
</Layout>