/* @fonts: yastacode */
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

/* @root: yastacode */
:root{
    --gray-100: #F8F9FA;
    --gray-200: #E9ECEF;
    --gray-300: #DEE2E6;
    --gray-400: #CED4DA;
    --gray-500: #AEB5BD;
    --gray-600: #6C757D;
    --gray-700: #495058;
    --gray-800: #343A40;
    --gray-900: #212529;

    --primary: #007bff;
    --secondary: var(--gray-600);
    --success: #1A8655;
    --danger: #DD3446;
    --warning: #FFC106;
    --info: #0BCAF0;
    --light: var(--gray-100);
    --dark: var(--gray-900);

    --font-default: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-default-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono,monospace;
    --font-space-grotesk: "Space Grotesk", serif;
    --font-geist-mono: "Geist Mono", serif;
    --font-geist: "Geist", serif;
    --font-caption: var(--font-space-grotesk), var(--font-default);
    --font-sans: var(--font-geist-mono), var(--font-geist);
    --font-size: 14px;
    --font-color: var(--dark);

    --background: radial-gradient(ellipse at center,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); 

    --border-color: rgba(0,0,0,0.15);
}

/* @html: default */
*, 
*::after, 
*::before{
    box-sizing: border-box;
}

html{
    font-family: var(--font-default);
    font-weight: 100;
    color: var(--font-color);
    font-size: var(--font-size);
}

/* @body: yastacode */
body{
    margin: 0;
    padding: 1rem;
    text-align: justify;
}

/* @default: tags */
h1,h2,h3,h4,h5,h6{
    font-weight: 100;
    text-transform: capitalize;
    span{
        /* font-weight: normal; */
    }
}
h1{
    font-size: 2.586rem;
}
h2{
    font-size: 2.088rem;
}
h3{
    font-size: 1.774rem	;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
        font-size: 1.3rem;
        color: var(--gray-500)
    }
}
a{
    text-decoration: none;
    color: var(--primary);
}
a:hover{
    text-decoration: underline;
}
nav{
    padding:2rem 0;
}
footer{
    padding: 3rem 0;
}

/* @skeleton: yastacode */
.skeleton{
    background-color: var(--light);
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid var(--border-color);
    border-radius: 0.3rem;
    min-height: calc(100vh - 2rem);
    padding: 0 5rem;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}
.skeleton:hover{
    box-shadow: 0 0 15px var(--gray-500);
}

/* @nav: breadcrumb */
.breadcrumb{
	border-bottom: 1px solid var(--border-color);
    text-transform: uppercase;
    font-size: 0.8rem;
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 0.2rem;
}
.breadcrumb a{
    display: flex;
}
.breadcrumb a:first-child{
    text-decoration: none;
}
.breadcrumb a:hover,
    ul a:hover{
    filter: contrast(20%);
}
.breadcrumb .bxs-home{
    transition: all 0.6s ease;
    font-size: 1.7rem;
}
.breadcrumb .bxs-home:hover{
    transform: translateY(-4px);
}
.breadcrumb .bx-chevron-right{
    font-size: 1.2rem;
}

/* @header: yastacode */

/* @main: yastacode */
main{
	flex: 1;
}

/* @section: yastacode */
section.slideshow{
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* @row */
.row{
    background: var(--gray-200);
    padding: 0 1rem;
    padding-bottom: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
}

/* @article: yastacode */

/* @Id: product list */
#productList li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: disc;
}
#productList span b{
    font-weight: 300;
}
#productList span a{
    cursor: pointer;
}
#productList span a:hover{
    filter: contrast(20%);
}
#productList span i{
    font-size: 1.5rem;
}

/* @message */
.message{
    margin-top: 0.3rem;
}
.message .success,
.message .error,
.message .warning,
.message .info{
    border: 1px solid var(--border-color);
    padding: 0.2rem 1rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.success{
    background-color: rgb(218, 247, 218);
    color: var(--success);
}
.error{
    background-color: rgb(244, 213, 213);
    color: var(--danger);
}
.warning{
    background: rgb(249, 244, 235);
    color: var(--warning);
}
.message .info{
    background: var(--info);
    color: var(--gray-800);
}
.message span i{
    font-size: 1.7rem;
}
/* @footer: yastacode */