---
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<!-- @nav: breadcrumb -->
	<nav class="breadcrumb">
		<a href="/"><i class="bx bxs-home"></i></a>
		<span>Yastacode</span>
	</nav>

	<!-- @header: basic info -->
	 <header class="basic">
		<h1>Petros <span>Córdova</span></h1>
		<label>"As a passionate front-end web developer, I transform your ideas into <b> high-performing, accessible, and aesthetically pleasing website.</b> Specializing in crafting fluid user experiences, I master <b> Astro, React, </b> and the optimization of <b> non-relational database (JSON) </b> for modern, robust web applications. From simple presentations to complex web apps, I'm ready to tackle your challenges!"</label>
	 </header>

	<!-- main -->
	<main>
		<!-- @section: experiences -->
		<section class="experiences">
			<h2>experiences</h2>
			<article></article>
		</section>

		<!-- @section: projects -->
		<section class="projects">
		   <h2>projects</h2>
		   <article></article>
		</section>
	</main>
</Layout>

<style>
	/* @nav: breadcrumb */
	nav.breadcrumb{
		background: rgba(0,0,0,0.03);
		border-bottom: 1px solid rgba(0,0,0,0.15);
		padding: 1.65rem 0;
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 0.2rem;
	}
	nav a{
		font-size: 1.7rem;
		color: #007bff;
		text-decoration: none;
		text-transform: capitalize;
		transition: all 0.6s ease;
		display: flex;
	}
	nav a:hover{
		filter: contrast(20%);
		transform: translateY(-4px);
	}

	/* @header: basic */
	header.basic{}
	header h1{
		
	}
	header h1 span{
		color: #007bff;
	}
	header label{
		text-align: justify;
	}

	/* @main: sections */
	/* @section: experiences */
	/* @section: projects */
</style>